<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Car Place</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarText">
        <div class="navbar-nav me-auto mb-2 mb-lg-0">
            <ul class="navbar-nav-left">
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'my listings view' %}">My listings</a>
                    </li>
                    <li class="nav-item">
                         <a class="nav-link" href="{% url 'create listing' %}">Create a listing</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" style="margin-left: 10px" href="{% url 'contact us' %}">Contact Us</a>
                    </li>
            </ul>
            <ul class="navbar-nav-right">
                {% if request.user.is_authenticated %}
                <span class="nav-link active" style="margin-left: 10px">
                    Hello, {{ request.user }}
                </span>
                <li class="nav-item">
                  <a class="nav-link" style="margin-left: 10px" href="{% url 'feedback view' %}"> Rate us </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="margin-left: 10px" href="{% url 'logout' %}">Logout</a>
                </li>
                {% else %}
                 <li class="nav-item">
                    <a class="nav-link active" aria-current="page"  href="{% url 'login form' %}">Login</a>
                 </li>
                 <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'registration form' %}">Register</a>
                  </li>
                {% endif %}
            </ul>
      </div>
    </div>
  </div>
</nav>