.navbar-nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navbar-nav-left, .navbar-nav-right{
    display: flex;
    list-style: none;
    margin-bottom: 0px;
}
.listings-view{
    padding-left: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.listing{
    width: 21%;
    margin: 10px;
}
.listing .card-img-top {
    height: 170px;
    object-fit: cover;
}
.reviews-wrapper{
    display: flex;
    justify-content: center;
}
.feedback-card{
    margin: 10px;
    background-color: whitesmoke;
}
.reviews-section-wrapper{
    margin:30px 0px 30px 0px;
}
.stars-wrapper i{
    color: goldenrod;
}
.create-form-wrapper{
    display: flex;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.create-field-wrapper{
    display: flex;
    justify-content: space-between;
    margin: 12px;
}
.create-picture:before{
    margin-left: 10px;
    margin-right: 10px;

}
.image-field-wrapper{
    display: block;
    justify-content: space-between;
}
.photo{
    margin-top: 0px;
    margin-left: 0px;
}
.card-text-p{
    margin-top: 2.5%;

}
.comment{
    flex: 0 0 30%;
    margin: 1%;
    margin-top: 4%;
}
.comment-wrapper{
    display: flex;
    flex-wrap: wrap;

}
.comment-form{
    margin:4% 8% 8% 8%;
}
.not-found-a{
  background-color: #2196f3;
  border: none;
  color: white;
  font-size: 1.5em;
  padding: 10px 20px;
  cursor: pointer;
}

