{% extends 'base.html' %}
{% block content %}
<div class="card mb-3" style="max-width: 100%; margin-top: 0.5%">
  <div class="row g-0" >
    <div class="col-md-4">
      <img src="/media/{{ listing.image }}" class="img-fluid rounded-start" style="">
        <form method="post" class="comment-form">
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}
            {% csrf_token %}
            {{ comment_form }}
             <button type="submit" class="btn btn-primary" style="margin-top: 2.5%"> Submit </button>
        </form>
    </div>
    <div class="col-md-8">
      <div class="card-body" style="margin-left: 10%; margin-top: 1%; padding: 0%;">
            <h4 class="card-title" style="color: #0062cc">{{ listing.brand }} {{ listing.model }} </h4>
            <p class="card-text-p"><strong>Engine: </strong> {{ listing.engine }}</p>
            <p class="card-text-p"><strong>Production year: </strong> {{ listing.year }}</p>
            <p class="card-text-p"><strong>Colour: </strong> {{ listing.color }}</p>
            <p class="card-text-p"><strong>Price: </strong> {{ listing.price }} €</p>
            <p class="card-text-p"><b>Description: </b>{{ listing.description }} </p>
            <p class="card-text-p"><strong>Date Published:</strong> {{ listing.date_created.date }}</p>
            {% if request.user.id == listing.user_id%}
                <a class="btn btn-secondary" href="{% url 'edit listing' listing.id %}"> <i class="fas fa-edit"></i> </a>
                <a class="btn btn-danger" href="{% url 'delete listing' listing.id%}"> <i class="far fa-trash-alt"></i> </a>
            {% endif %}
            {% if request.user.is_authenticated %}
                {% if request.user != listing.user%}
                    <a class="btn btn-danger" href="{% url 'report listing' listing.id %}">
                        <i class="fas fa-flag"> Report </i></a>
                {% endif %}
            {% endif %}
      <div class="comments-section">
            {% if comments %}
                <h3 style="margin-top: 20px; display:flex; justify-content: center; color: #0062cc" >Comments</h3>
                <div class="comment-wrapper">
                {% for comment in page.object_list %}
                    <div class='comment form-control'>
                    <h4 class="form-control "><b>{{ comment.user }}</b></h4>
                     <p class="p-comment">{{ comment }}</p>
                    </div>
                {% endfor %}
                </div>
            {% endif %}
      <ul class="pagination justify-content-center ">
      {% if comments.all.count > 6 %}
          {% if page.has_previous %}
            <li class="page-item">
                <a class="page-link" href="{% url 'detailed listing' listing.id %}?page={{ page.previous_page_number }}">Previous</a>
            <li class="page-item"><a class="page-link" href="{% url 'detailed listing' listing.id %}?page={{ page.number|add:"-1"}}">{{ page.number|add:"-1"}}</a></li>
            </li>
          {% endif %}
        <li class="page-item active" aria-current="page">
          <span class="page-link">{{ page.number }}</span>
        </li>

        {% if page.has_next %}
            <li class="page-item"><a class="page-link" href="{% url 'detailed listing' listing.id  %}?page={{ page.number|add:"1"}}">{{ page.number|add:"1"}}</a></li>
            <li class="page-item">
                <a class="page-link" href="{% url 'detailed listing' listing.id %}?page={{ page.next_page_number }}">Next</a>
            </li>
        {% endif %}
      {% endif %}
  </ul>
      </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
