{% extends 'base.html' %}
{% block content %}
    <div class="create-form-wrapper">
        <form enctype="multipart/form-data" method="POST" action="">
            <div class="create-field-wrapper">
                <h3 style="text-align: left;margin-bottom: 5%; color: #0062cc;">Edit a listing</h3>
            </div>
                {% csrf_token %}
            <div class="create-field-wrapper"> {{ form.brand }}</div>
            <div class="create-field-wrapper">{{ form.model}} </div>
            <div class="create-field-wrapper">{{ form.engine}}</div>
            <div class="create-field-wrapper">{{ form.year}}</div>
            <div class="create-field-wrapper">{{ form.color}}</div>
            <div class="create-field-wrapper">{{ form.price }}</div>
            <div class="create-field-wrapper">
            <div class="image-field-wrapper">
            Image:<i class="fas fa-image create-picture"></i>{{ form.image }}
            </div>
            </div>
            <div class="create-field-wrapper">{{ form.description}}</div>
            <div class="create-field-wrapper">
                <button type="submit" class="btn btn-primary"> Edit </button>
            </div>
        </form>
    </div>

{% endblock %}
