{% extends 'base.html' %}
{% block content %}
<div class="create-form-wrapper">
    <form method="POST">
    {% csrf_token %}
        <div class="create-field-wrapper">
            <h3 style="text-align: left;margin-bottom: 5%; color: #0062cc;">Rate our website</h3>
        </div>
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        {{ error }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
            <div class="create-field-wrapper"> Full name: </div>
        <div class="create-field-wrapper">{{ form.full_name }}</div>
            <div class="create-field-wrapper"> Satisfaction level:</div>
        <div class="create-field-wrapper">{{ form.rating }}</div>
            <div class="create-field-wrapper"> Comment:</div>
        <div class="create-field-wrapper">{{ form.comment }}</div>
        <div class="create-field-wrapper">
            <button type="submit" class="btn btn-primary"> Send </button>
        </div>
    </form>
</div>
{% endblock %}
